<div class="row">
  <% stores.each do |store| %>
    <div class="col-md-4 mb-3">
      <div class="card h-100">

        <% if store.images.attached? %>
          <%= image_tag store.images.first, class: "card-img-top", style: "height: 200px; object-fit: contain;" %>
        <% else %>
          <p>画像はありません</p>
        <% end %>

        <div class="card-body">
          <h5 class="card-title"><%= store.name %></h5>
          <%= link_to '詳細を見る', store_path(store), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>