<h2>public側の投稿一覧</h2>

<%= form_with url: search_stores_path, method: :get, local: true do |f| %>
  <%= f.text_field :keyword, placeholder: "店舗名やレビュー内容で検索できます" %>
  <%= f.submit "検索する" %>
<% end %>


<%= render 'public/shared/store_list', stores: @stores %>