<h2>お店を新しく登録する</h2>

<%= render 'public/shared/error_messages', resource: @store %>

<%= render 'form', store: @store, categories: @categories, tags: @tags %>


<!--地図機能-->
<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>