<!--adminとpublic共通のフラッシュメッセージのパーシャル-->
<% flash.each do |key, message| %>
  
  <% alert_class = case key.to_sym
    when :notice then 'alert-success'
    when :alert then 'alert-danger'
    when :warning then 'alert-warning'
    else 'alert-info'
    end %>

  
  <div class="alert <%= alert_class %> alert-dismissible fade show mt-3" role="alert">
    <%= message %>
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
<% end %>