@use '~bootstrap/scss/bootstrap';

.header-logo{
  width: 100px;
  //height: 100%;
  //object-fit: contain;
}

.header-right{
  list-style: none;
}

.nav-item{
  margin-left: 20px;
}

.position-center {
  top: 36%;
  left: 13.5%
}

.title{
  color: red;
}